* {
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: sans-serif;
}

#div2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;

    div {
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        gap: 1rem;
        justify-content: center;
    
        button {
            padding: 0.5rem;
            width: max-content;
            height: 4rem;
            border-radius: 0.5rem;
            border: 1px solid black;
            width: 30%;
        }

        span {
            display: block;
            height: max-content;
            min-width: 10rem;
            display: flex;
            justify-content: center;
            text-align: center;
            min-height: 3rem;
            background-color: black;
            color: white;
            padding: 0.5rem;
        }
    }
}

#div1 {
    display: flex;
    flex-direction: row;
}

#div3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    width: min-content;
    align-self: center;
}

