
.msgBox {
    border: 2px solid black;
    width: 242px;
    background-repeat: no-repeat
};

.msgBox img,p {
    padding-left: 82px;
    background-position: 25px center;
    background-repeat: no-repeat;
};



